body {
    font-family: "Roboto";
    font-size: 20px;
    background: #e2dedb;
}

h1 {
    position: relative;
    margin: 10px 0 10px 0;
    font-size: 30px;
    text-align: center;
    padding:10px;
}

label {
    padding:5px;
}

input {
    width: 300px;
    height: 30px;
    font-family: "Roboto";
    font-size: 18px;
    padding-left:10px;
    float: right;
}

form {
    position: relative;
    width: 500px;
    margin: 20px auto 100px auto;
}

button {
   font-family: "Roboto";
    text-decoration:none;
    font-size: 18px;
    cursor:pointer;
}
            
